.admin-main-div{
    display: inline-flex;
    width: 100%;
    height: 100%;
}
.admin-1{
  width: 20rem;
  height: 100vh;
}
.admin-2{
    width: 100%;
    max-width: 80%;
}
.div-1{
 
  height:"5rem" ;
  width:"100%"
}
.body-main{
  /* background-color: rgb(214, 201, 201); */
  display:"flex";
}
.div-2{

padding-top: 2rem;  display: flex;
  justify-content:space-around;
}
.search-input{
  width: 500px;
  height: 40px; 
}

.med-1{
  margin: auto;

  height: 30rem;
  width: 80rem;
  background-color: rgb(208, 185, 185);
}
.med-2{
width: 80rem;
  padding-top: 3rem;
  display: flex;
  justify-content: space-around; 
  
}
.main-medicine{
  display: flex;
  flex-direction: column; 
  align-items: center; 
 

}
.form-btn{
  position: relative;
  top: 2rem; 
  left: 1rem;
}
.add-Doctor{
display: flex;
justify-content: center;}